<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN">
    <Properties>
        <!-- 增加%ex配置，因为如果没有显式配置%ex，则异常格式化输出的默认配置是%xEx，此时会打印异常的扩展信息（JAR名称和版本），可能导致业务线程Block -->
<!--        <property name="console_log_pattern">%d{yyyy-MM-dd HH:mm:ss} [%level] [%t] %l %m%n %ex</property>-->
        <!-- %X{userName} 指的是从MDC中取值 -->
        <property name="console_log_pattern">%d{yyyy-MM-dd HH:mm:ss} [%level] %X{userName} [%t] %l %m%n %ex</property>
        <property name="file_log_pattern">%d{yyyy-MM-dd HH:mm:ss} [%level] [%t] %C.%M[%L line] %m%n %ex</property>
        <property name="every_file_size">10MB</property>
    </Properties>

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${console_log_pattern}"/>
        </Console>

        <RollingFile name="DEBUG" fileName="./log/log4j2/debug.log"
                     filePattern="./log/log4j2/debug_log_archive/debug-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="${file_log_pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${every_file_size}"/>
            </Policies>
        </RollingFile>
    </appenders>

    <loggers>
        <!-- 属性 level 是用于设置最低需要输出的日志输出级别 -->
        <root level="DEBUG">
            <appender-ref ref="Console"/>
            <appender-ref ref="DEBUG"/>
        </root>
    </loggers>
</configuration>
